@font-face {
   font-family: 'Borel';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Duncan/Ramblings/RealityInfo.org/realityinfo/fonts/Borel/regular.ttf') format('truetype');
}
